#{extends 'main.html' /}

<script>
function ValidaSoloNumeros() {
	 if ((event.keyCode < 48) || (event.keyCode > 57)) 
	  event.returnValue = false;
	}
	
function ValidaSoloLetras() {
	 if ((event.keyCode != 32) && (event.keyCode < 65) || (event.keyCode > 90) && (event.keyCode < 97) || (event.keyCode > 122))
	  event.returnValue = false;
	
	}
</script>

<div class="container">
    
		        <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		                    <div class="panel panel-info" >
		                        <div class="panel-heading">
		                            <div class="panel-title"><b>Actualización de Datos</b> 
		                            #{if flash.confirmacion}
		                            	<br> <h5>&{flash.confirmacion} <a href="/" class="btn btn-primary">Listo</a></h5>
		                            #{/if}
		                            </div>
		                         </div>
		                        </div>  
		                        <div class="panel-body" style="background: white;">
		                        
		                       

						#{form @Security.actualizarCuenta(nombre,apellido,password,passwordNuevo)}
		                        			                                  
		                              
		                                  <br>
		                                   <div class="form-group" style="margin-bottom: 25px">
		                                	 <label for="email" class="col-md-3 control-label">Email:</label>
		                                    <div class="col-md-9">
		                                        <label>${flash.email}</label>
		                                    </div>
		                                    
		                                    
		                                </div>
		                                <br>
		                                <div class="form-group" style="margin-bottom: 25px">
		                                    <label for="firstname" class="col-md-3 control-label">Nombre:</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" onkeypress="ValidaSoloLetras();"  value="${flash.nombre}" required>
		                                    </div>
		                                </div>
		                                <br>
		                                <div class="form-group" style="margin-bottom: 25px">
		                                    <label for="lastname" class="col-md-3 control-label">Apellido:</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="apellido" placeholder="Ingrese su apellido" onkeypress="ValidaSoloLetras();"  value="${flash.apellido}" required>
		                                    </div>
		                                </div>
		                                <br>
		                                <div class="form-group" style="margin-bottom: 25px">
		                                    <label for="password" class="col-md-3 control-label">Contraseña Actual:</label>
		                                    <div class="col-md-9">
		                                        <input type="password" class="form-control" name="password" required><br>
		                                         #{if flash.error}
					                            	<H5 style="color:red;">&{flash.error}</H5>
					                            #{/if}
		                                    </div>
		                                </div>
		                                <br>
		                                <br>
		                                 <div class="form-group" style="margin-bottom: 25px">
		                                    <label for="password" class="col-md-3 control-label">Contraseña Nueva:</label>
		                                    <div class="col-md-9">
		                                        <input type="password" class="form-control" name="passwordNuevo">
		                                        
		                                    </div>
		                                </div>
		                                <br>
		                                
		                                
		                    
		                                <div class="form-group" style="margin-bottom: 25px">
		                                    <!-- Button -->                                        
		                                    <div class="col-md-offset-3 col-md-9" >
		                                        <button id="btn-signup" type="submit" class="btn btn-success" style="color:black;"><b>Actualizar Datos</b></button>
		                                        <a class="btn btn-warning" style="color:black;" href="/"><b>Cancelar</b></a>
		                                    </div>
		                                    
		                                </div>
		                    
		                    #{/form}
		                         </div>
		                    </div>
		
		               
		               
		                
		         </div> 
		         <br>
</div>	         
		         
		         
