

<head> 
<meta charset="utf-8"> 

</head>




<body> 
#{extends 'main.html' /}
#{set title:'galeria.html' /}

<section>
		<div class="container">
			
			<br><br>
				
				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"></h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/l1.jpg'}"alt="" />
										<p><h4>Espinaca</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p> La espinaca es un excelente recurso natural de vitaminas, fibras y minerales, que en comparación con las carnes, aporta pocas calorías y no contiene grasas. Es también rica en fitonutrientes, especialmente el beta-caroteno y la luteína, convirtiéndola en un vegetal con propiedades antioxidantes que nos protegen del daño celular. Sus tallos son más ricos en fibra que las hojas</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/l2.jpg'}" alt="" height="230px" />
										<p><h4>Lechuga</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p>	La lechuga es una de las verduras de hoja verde que más consumimos, especialmente en lasdietas de adelgazamiento, aunque se recomienda a todo tipo de personas por sus beneficios nutricionales.Ayuda a regular los niveles de azúcar en sangre Favorece la expulsión de gases intestinales.</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/l3.jpg'}"  alt="" height="230px" />
										<p><h4>Col</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
										<p>A nivel digestivo es aconsejable consumir de manera habitual la col, puesto que posee importantes concentraciones de vitamina U, la cual es indispensable para proteger la mucosa estomacal y también ayuda a prevenir las úlceras </p> 
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/l4.jpg'}" alt="" height="230px"/>
										<p><h4>Coliflor</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Todos los tipos de coliflor tienen grandes cantidades de vitaminas A, K, magnesio, potasio, fósforo, vitaminas B como el folato, la niacina, riboflavina, ácido pantoténico y tiamina y una larga lista de nutrientes. </p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img  src="@{'/public/images/home/h1.jpg'}" alt="" height="230px" />
										<p><h4>Papanabo</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Rico en folatos, esta verdura también contiene vitaminas A y C. La primera fortalece la visión, mientras que la segunda, a más de elevar las defensas, mantiene la piel en buen estado..</p>
										
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/h2.png'}"  alt="" height="230px"/>
										<p><h4>Rabano</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>En las enfermedades producidas por carencia de vitamina C en la alimentación, que se manifiesta por medio de hemorragias, caída de los dientes y alteraciones en las articulaciones, es un gran agente curativo. Para este fin se recomienda comerlos en ensaladas con frecuencia..</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
							<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/h3.png'}"alt="" height="230px"/>
										<p><h4>Remolacha</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>La remolacha es un alimento de moderado contenido calórico, ya que tras el agua, los hidratos de carbono son el componente más abundante, lo que hace que ésta sea una de las hortalizas más ricas en azúcares.</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
			<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/h4.png'}" alt="" height="230px"/>
										<p><h4>Zanahoria</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>La zanahoria es una verdura que tiene bastantes ventajas en la alimentación de todas las personas, sin importar su edad.</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/home/h5.jpg'}" alt="" height="230px"/>
										<p><h4>Cilantro</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>se utilizan los preparados de cilantro por sus propiedades estimulantes, antiespasmódicas y estomacales.
											Debido a sus propiedades antibactericidas se utiliza para combatir el mal aliento, masticando las hojas. </p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div><!--features_items-->
				</div>
			</div>
	</section>
	</body>
