#{extends 'main.html' /}
#{set title:'historia.html' /}
<meta charset= "utf-8">
<br>
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
			<h1 class="text-center">Historia</h1>
			<p class="text-justify"  style="text-align: justify;">

					Los campesinos de San Buenaventura, parroquia rural de Latacunga, empezaron a trabajar para conformar una asociación y así comercializar sus productos en el Centro de Rehabilitación Social (CRS) Regional Cotopaxi. 

					La noche del miércoles 12 de marzo de 2014, mantuvieron una reunión con las autoridades del Ministerio de Justicia, Derechos Humanos y Cultos, y de la empresa La Factoría, encargada de la alimentación de los privados de libertad.

En esta sesión de trabajo, los agricultores indicaron que su producción más importante se relaciona con las hortalizas: coliflor, brócoli, nabo, nabo chino, remolacha, lechuga, perejil…

Toda esa oferta se quiere entregar al Centro de Rehabilitación Social Regional Cotopaxi, pero deberán efectuarlo de forma organizada y a través de una asociación productiva que reúna al mayor número posible de campesinos, señaló Gustavo Peñafiel, director nacional de Rehabilitación Social.

Peñafiel explicó que la intención es que se involucre al mayor número de personas en la comercialización de los productos directa. Para ello es necesario conformar asociaciones que negocien de forma directa.

César Bolaños, representante de La Factoría, indicó que los requerimientos de la empresa dependen del número de personas que estén en el CRS. Pero cuando ya estén los 4.800 privados de libertad se calcula que se necesitarán 2.000 kilos de zanahoria semanal; entre 80 y 90 quintales de papas a la semana; unos 5.000 huevos  cada semana.

Además, Bolaños adelantó que se puede mantener una relación comercial que permita abastecer de productos de la localidad a la empresa, que tiene presencia en 21 provincias del país. “Si ustedes pueden abastecernos de zanahoria para el requerimiento nacional de nuestra empresa, podemos comprar”, dijo.

Por su lado, Willian Panchi, presidente de Sanbuenaventura, afirmó que adelantan la conformación de la asociación para así determinar la oferta productiva de la zona e informar sobre la cantidad que pueden cubrir semanalmente.

			</p>
		</div>
		
	</div>
	


</div>