#{extends 'main.html' /}
#{set title:'index.html' /}



<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>IMC Ubicación</title>
  </head>
  <body>
  
  <br>
  
   <center>
   	<h3>Ubicación de SAN BUENAVENTURA</h3>
  	 <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7978.649699758319!2d-78.61609119608627!3d-0.901148010652993!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1424987288208" width="800" height="600" frameborder="0" style="border:0"></iframe>
  	 <br>
   </center>
     	 <br>  	 <br>  	 <br>
  </body>
</html>

